<!DOCTYPE html>
<html>
  <head>
  		<title>TERRA RUCHES</title>
  		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  		<%= csrf_meta_tags %>
  </head>
   	
  <header>TERRA RUCHES</header>

  <body>
		
     <div class="photo1">
      <%= image_tag("apiculture2.jpg")%>
     </div>
		 <div class="container">
			<%= yield %>
		 </div>
		<%= render "layouts/footer" %>
  </body>
</html>
